absl-py==2.1.0
aiofiles==23.2.1
aiohttp==3.9.3
aiosignal==1.3.1
altair==5.3.0
annotated-types==0.6.0
anyio==3.7.1
appdirs==1.4.4
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asgiref==3.7.2
asttokens==2.4.1
astunparse==1.6.3
async-lru==2.0.4
async-timeout==4.0.3
asyncer==0.0.2
attrs==23.1.0
Automat==22.10.0
Babel==2.14.0
backoff==2.2.1
bcrypt==4.1.2
beautifulsoup4==4.12.3
bidict==0.23.1
bleach==6.1.0
blinker==1.6.2
boilerpy3==1.0.7
cachetools==4.2.4
cattrs==23.2.3
certifi==2023.7.22
cffi==1.15.1
chainlit==1.1.202
chardet==3.0.4
charset-normalizer==3.2.0
chevron==0.14.0
chroma-hnswlib==0.7.2
chromadb==0.4.7
click==8.1.4
colorama==0.4.6
colorclass==2.2.2
coloredlogs==15.0.1
comm==0.2.1
compressed-rtf==1.0.6
constantly==15.1.0
construct==2.5.3
contourpy==1.1.0
cryptography==41.0.3
cssselect==1.2.0
ctransformers==0.2.27
cycler==0.11.0
dataclasses-json==0.5.14
dataclasses-json-speakeasy==0.5.11
datasets==2.19.2
debugpy==1.8.1
decorator==5.1.1
defusedxml==0.7.1
Deprecated==1.2.14
dill==0.3.8
diskcache==5.6.3
distlib==0.3.8
distro==1.9.0
Django==5.0.3
dnspython==2.4.1
docopt==0.6.2
easygui==0.98.3
ebcdic==1.1.1
emoji==2.10.1
Events==0.5
exceptiongroup==1.2.0
executing==2.0.1
extract-msg==0.45.0
faiss-cpu==1.7.4
farm-haystack==1.26.2
fastapi==0.110.3
fastapi-socketio==0.0.10
fastjsonschema==2.19.1
filelock==3.12.3
filetype==1.2.0
Flask==2.3.2
Flask-PyMongo==2.3.0
flatbuffers==23.5.26
fonttools==4.42.0
fqdn==1.5.1
frozenlist==1.4.1
fsspec==2024.2.0
gast==0.5.4
gensim==4.3.2
gitdb==4.0.11
GitPython==3.1.43
google-api-core==1.34.1
google-auth==1.35.0
google-auth-oauthlib==1.2.0
google-cloud-core==1.7.3
google-cloud-translate==2.0.1
google-pasta==0.2.0
googleapis-common-protos==1.62.0
googletrans==4.0.0rc1
gpt4all==1.0.8
greenlet==3.0.3
grpcio==1.60.1
grpcio-status==1.48.2
h11==0.14.0
h2==3.2.0
h5py==3.10.0
haystack==0.42
hpack==3.0.0
hstspreload==2024.2.1
httpcore==1.0.4
httptools==0.6.1
httpx==0.25.2
huggingface-hub==0.23.3
humanfriendly==10.0
hyperframe==5.2.0
hyperlink==21.0.0
ibm-db==3.1.4
idna==2.10
IMAPClient==2.3.1
importlib-metadata==6.11.0
importlib_resources==6.1.2
incremental==22.10.0
inflect==7.2.1
ipykernel==6.29.2
ipython==8.21.0
isoduration==20.11.0
itemadapter==0.8.0
itemloaders==1.1.0
itsdangerous==2.1.2
jedi==0.19.1
Jinja2==3.1.2
jmespath==1.0.1
joblib==1.3.2
json5==0.9.17
jsonpatch==1.33
jsonpath-python==1.0.6
jsonpointer==2.4
jsonschema==4.21.1
jsonschema-specifications==2023.12.1
jupyter-events==0.9.0
jupyter-lsp==2.2.2
jupyter_client==8.6.0
jupyter_core==5.7.1
jupyter_server==2.12.5
jupyter_server_terminals==0.5.2
jupyterlab==4.1.2
jupyterlab_pygments==0.3.0
jupyterlab_server==2.25.3
keras==2.15.0
kiwisolver==1.4.4
langchain==0.0.274
langchain-community==0.0.24
langchain-core==0.1.26
langdetect==1.0.9
langsmith==0.0.92
lark==1.1.8
Lazify==0.4.0
lazy-imports==0.3.1
libclang==16.0.6
literalai==0.0.601
llama_cpp_python==0.1.81
lxml==4.9.3
Markdown==3.5.2
markdown-it-py==3.0.0
MarkupSafe==2.1.3
marshmallow==3.20.2
matplotlib==3.7.2
matplotlib-inline==0.1.6
mdurl==0.1.2
mistune==3.0.2
ml-dtypes==0.2.0
monotonic==1.6
more-itertools==10.2.0
mpmath==1.3.0
msoffcrypto-tool==5.3.1
multidict==6.0.5
multiprocess==0.70.16
mypy-extensions==1.0.0
mysql-connector-python==8.1.0
nbclient==0.9.0
nbconvert==7.16.1
nbformat==5.9.2
nest-asyncio==1.6.0
networkx==2.8.8
nltk==3.8.1
node2vec==0.4.6
notebook==7.1.0
notebook_shim==0.2.4
num2words==0.5.13
numexpr==2.9.0
numpy==1.25.2
oauthlib==3.2.2
olefile==0.46
oletools==0.60.1
ollama==0.1.6
onnxruntime==1.17.1
openai==1.12.0
opencv-python==4.8.0.74
opentelemetry-api==1.23.0
opentelemetry-exporter-otlp==1.23.0
opentelemetry-exporter-otlp-proto-common==1.23.0
opentelemetry-exporter-otlp-proto-grpc==1.23.0
opentelemetry-exporter-otlp-proto-http==1.23.0
opentelemetry-instrumentation==0.44b0
opentelemetry-proto==1.23.0
opentelemetry-sdk==1.23.0
opentelemetry-semantic-conventions==0.44b0
opt-einsum==3.3.0
orjson==3.9.15
overrides==7.7.0
packaging==23.2
pandas==2.1.0
pandoc==2.3
pandocfilters==1.5.1
parsel==1.8.1
parso==0.8.3
pcodedmp==1.2.6
pdf2image==1.16.3
pefile==2023.2.7
Pillow==10.0.0
pipeline==0.1.0
platformdirs==4.2.0
plumbum==1.8.2
ply==3.11
posthog==3.4.2
prometheus_client==0.20.0
prompt==0.4.1
prompt-toolkit==3.0.43
prompthub-py==4.0.0
Protego==0.3.0
protobuf==3.20.3
psutil==5.9.8
pulsar-client==3.4.0
pure-eval==0.2.2
py-cpuinfo==9.0.0
pyarrow==16.1.0
pyarrow-hotfix==0.6
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycparser==2.21
pycryptodome==3.18.0
pydantic==1.10.14
pydantic_core==2.16.3
pydeck==0.9.1
PyDispatcher==2.0.7
Pygments==2.17.2
PyJWT==2.8.0
pymongo==4.4.1
PyMuPDF==1.23.5
PyMuPDFb==1.23.5
pyOpenSSL==23.2.0
pypandoc==1.11
pyparsing==2.4.7
pypdf==4.0.2
PyPDF2==3.0.1
PyPika==0.48.9
pypng==0.20220715.0
pyreadline3==3.4.1
pytesseract==0.3.10
python-barcode==0.15.1
python-dateutil==2.8.2
python-dotenv==1.0.0
python-engineio==4.9.0
python-graphql-client==0.4.3
python-iso639==2024.2.7
python-json-logger==2.0.7
python-magic==0.4.27
python-multipart==0.0.9
python-ptrace==0.9.9
python-socketio==5.11.1
pytz==2023.3.post1
pywin32==306
pywinpty==2.0.12
PyYAML==6.0.1
pyzbar==0.1.9
pyzmq==25.1.2
qrcode==7.4.2
qrtools==0.0.1
quantulum3==0.9.1
queuelib==1.6.2
rank-bm25==0.2.2
rapidfuzz==3.6.1
red-black-tree-mod==1.20
referencing==0.33.0
regex==2023.8.8
reportlab==4.0.4
requests==2.32.3
requests-cache==0.9.8
requests-file==1.5.1
requests-oauthlib==1.3.1
rfc3339-validator==0.1.4
rfc3986==1.5.0
rfc3986-validator==0.1.1
rich==13.7.1
rpds-py==0.18.0
rsa==4.9
RTFDE==0.1.1
safetensors==0.4.2
scikit-learn==1.3.0
scipy==1.11.2
Scrapy==2.10.1
seaborn==0.13.2
Send2Trash==1.8.2
sentence-transformers==2.2.2
sentencepiece==0.2.0
service-identity==23.1.0
simple-websocket==1.0.0
six==1.16.0
smart-open==7.0.1
smmap==5.0.1
sniffio==1.3.0
soupsieve==2.5
SQLAlchemy==2.0.27
sqlparse==0.4.4
sseclient-py==1.8.0
stack-data==0.6.3
starlette==0.37.2
streamlit==1.36.0
sympy==1.12
syncer==2.0.3
tabulate==0.9.0
tenacity==8.2.3
tensorboard==2.15.2
tensorboard-data-server==0.7.2
tensorflow==2.15.0
tensorflow-estimator==2.15.0
tensorflow-intel==2.15.0
tensorflow-io-gcs-filesystem==0.31.0
termcolor==2.4.0
terminado==0.18.0
terminator==0.0.0
threadpoolctl==3.2.0
tiktoken==0.7.0
tinycss2==1.2.1
tk==0.1.0
tldextract==3.5.0
tokenizers==0.15.2
toml==0.10.2
tomli==2.0.1
toolz==0.12.1
torch==2.2.1
torchvision==0.17.1
tornado==6.4
tqdm==4.66.1
traitlets==5.14.1
transformers==4.39.3
Twisted==22.10.0
twisted-iocpsupport==1.0.4
typeguard==4.3.0
types-python-dateutil==2.8.19.20240106
typing-inspect==0.9.0
typing_extensions==4.12.2
tzdata==2023.3
tzlocal==5.2
unstructured==0.10.8
unstructured-client==0.18.0
uptrace==1.22.0
uri-template==1.3.0
url-normalize==1.4.3
urllib3==2.0.4
uvicorn==0.25.0
virtualenv==20.25.1
w3lib==2.1.2
watchdog==4.0.1
watchfiles==0.20.0
wcwidth==0.2.13
webcolors==1.13
webencodings==0.5.1
websocket-client==1.7.0
websockets==12.0
Werkzeug==2.3.6
win-unicode-console==0.5
windows-curses==2.3.1
wrapt==1.14.1
wsproto==1.2.0
xxhash==3.4.1
yarl==1.9.4
zipp==3.17.0
zope.interface==6.0
